body.modal-open {
  height: 100vh;
  overflow: hidden;
}

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.visually-hidden:not(:focus, :active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.relative {
  position: relative;
}

.object-fit-cover {
  object-fit: cover;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.overflow-hidden {
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;

  @media screen and (max-width: var(--tablet-max)) {
    font-size: 18px;
    line-height: 24px;
  }
}

.link-hover {
  cursor: pointer;
  transition: color $transition-duration $transition-timing-function;

  &:hover {
    color: var(--accent-color-two);
  }
}

%text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: var(--text-color);
}
// call -   { @extend %text; }

// text colors
.text-black {
  color: var(--black-color);
}

.text-white {
  color: var(--white-color);
}

// Margin from 0 to 24px
@for $i from 0 through 24 {
  .m-#{4*$i} {
    margin: 4px * $i !important;
  }
  .mt-#{4*$i} {
    margin-top: 4px * $i !important;
  }
  .mb-#{4*$i} {
    margin-bottom: 4px * $i !important;
  }
  .my-#{4*$i} {
    margin-top: 4px * $i !important;
    margin-bottom: 4px * $i !important;
  }
  .ml-#{4*$i} {
    margin-left: 4px * $i !important;
  }
  .mr-#{4*$i} {
    margin-right: 4px * $i !important;
  }
  .mx-#{4*$i} {
    margin-right: 4px * $i !important;
    margin-left: 4px * $i !important;
  }
}

//margin alignment
.m-auto {
  margin: auto !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}
